---
import Project from "./Project.astro";

const gh_user = "mvkvc";

export async function getRepos(user) {
  const cfToken = process.env.GH_TOKEN;
  const viteToken = import.meta.env.GH_TOKEN;
  const token = cfToken || viteToken;
  const urlStars = `https://api.github.com/users/${user}/starred`;
  const result = await fetch(urlStars, {
    method: "GET",
    headers: {
      Authorization: `Bearer ${token}`,
      "X-GitHub-Api-Version": "2022-11-28",
    },
  });
  return await result.json();
}

let starredRepos = await getRepos(gh_user);
starredRepos = starredRepos.filter((repo) => repo.html_url.includes(gh_user));
starredRepos.sort((a, b) => b.stargazers_count - a.stargazers_count);
starredRepos = starredRepos.map((repo) => ({
  name: repo.name,
  url: repo.html_url,
  description: repo.description,
  topics: repo.topics,
}));
---

<ul>
  {
    starredRepos.map((project) => (
      <li>
        <Project
          name={project.name}
          url={project.url}
          description={project.description}
          topics={project.topics}
        />
      </li>
    ))
  }
</ul>
