---
import PageLayout from "@/layouts/Base";
// import { Image } from "@astrojs/image/components";
// import aboutImg from "../assets/about-astro.png";
import ExperienceList from "@/components/ExperienceList";

const talks = [
	{
		title: "Cell Driven Development",
		link: "https://github.com/einariii/cell_driven_development",
		institution: "Toronto Elixir Meetup @ theScore",
		location: "Toronto, Canada",
		startDate: "June 2023",
		description: "Guide to creating your own custom Livebook smart cells with real examples.",
	},
];

const experience = [
	{
		title: "Teaching Assistant",
		institution: "Toronto Metropolitan University",
		group: "Department of Mathematics",
		location: "Toronto, Canada",
		startDate: "Sept 2021",
		endDate: "May 2022",
	},
	{
		title: "Data Scientist",
		institution: "Royal Bank of Canada",
		group: "Global Technology Risk",
		location: "Toronto, Canada",
		startDate: "July 2019",
		endDate: "Sept 2021",
	},
	// {
	// 	title: "Data Scientist Summer Student",
	// 	institution: "Royal Bank of Canada",
	// 	group: "Global Technology Risk",
	// 	location: "Toronto, Canada",
	// 	startDate: "May 2018",
	// 	endDate: "Aug 2018",
	// },
	// {
	// 	title: "Data Analyst Summer Student",
	// 	institution: "Ontario Ministry of Energy",
	// 	group: "Economics and Systems Planning Group",
	// 	location: "Toronto, Canada",
	// 	startDate: "May 2017",
	// 	endDate: "Aug 2017",
	// },
];

const education = [
	{
		title: "Full-Stack Development with Elixir",
		institution: "DockYard Academy",
		location: "Remote",
		startDate: "Feb 2023",
		endDate: "May 2023",
	},
	{
		title: "Bachelor of Science - Financial Mathematics, Economics Minor",
		institution: "Toronto Metropolitan University ",
		location: "Toronto, Canada",
		startDate: "Sep 2014",
		endDate: "May 2019",
	},
];

const meta = {
	title: "About",
	description: "About me.",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			I enjoy using Python, Elixir, and JavaScript to explore my interests including machine
			learning and full-stack web development. A PDF version of my resume can be found <a
				class="cactus-link"
				href="
				/marko_vukovic_resume.pdf">here</a
			>.
		</p>

		<h2 class="title mb-4 text-xl">Talks</h2>
		<ExperienceList experienceList={talks} />
		<h2 class="title mb-4 text-xl">Experience</h2>
		<ExperienceList experienceList={experience} />
		<h2 class="title mb-4 text-xl">Education</h2>
		<ExperienceList experienceList={education} />

		<!-- <p>
			Hi, I’m a starter Astro. I’m particularly great for getting you started with your own blogging
			website.
		</p>
		<div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
			/>
		</div>
		<p>Here are my some of my awesome built in features:</p>
		<ul class="list-inside list-disc">
			<li>I'm ultra fast as I'm a static site</li>
			<li>I'm fully responsive</li>
			<li>I come with a light and dark mode</li>
			<li>I'm easy to customise and add additional content</li>
			<li>I have Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li>
			<li>Satori for auto generating OG images for blog posts</li>
		</ul>
		<p>
			Clone or fork my
			<a
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository"
			>
				repo
			</a> if you like me!
		</p> -->
	</div>
</PageLayout>
