---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/astro/BlogPost.astro'

const allPosts = await Astro.glob('./blog/*.mdx');
allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
const pageTitle = "Blog";
---

<BaseLayout title={pageTitle}>
	<h1>{pageTitle}</h1>
	<p>My amazing thoughts</p>
	<p><a href='/tags/'>Tags</a></p>

	<ul>
		{allPosts.map((post) => <li><BlogPost url={post.url} title={post.frontmatter.title} date={post.frontmatter.pubDate}/></li>)}
	</ul>
</BaseLayout>
