---
import PageLayout from "@/layouts/Base";
import ProjectItem from "@/components/ProjectItem";
import ProjectList from "@/components/ProjectList";

const meta = {
	title: "Projects",
	description: "My projects.",
};

const kimia_products = [
	{
		"name": "Downhost",
		"url": "https://downhost.fly.dev",
		"description": "A marketplace for code including standalone scripts, notebooks, libraries, and anything else you can think of.",
		"topics": []
	},
	{
		"name": "Critique",
		"url": "https://critique.dev",
		"description": "A service that predicts the likelihood that user-uploaded images are AI-generated, also available as an API.",
		"topics": []
	},
	{
		"name": "Context",
		"url": null,
		"description": "Seamlessly embed AI chat in your website which automatically knows your content.",
		"topics": []
	}
];
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Projects</h1>
		<h2 class="title mb-4 text-xl">Products</h2>
		{
			kimia_products.map((product) => (
				<ProjectItem name={product.name} url={product.url} description={product.description} topics={product.topics} />
			))
		}
		<h2 class="title mb-4 text-xl">Open Source</h2>
		<ProjectList />
	</div>
</PageLayout>
