---
import ExperienceItem from "./ExperienceItem.astro";

const { experienceList } = Astro.props;
---

<ul>
	{
		experienceList.map((exp) => (
			<li>
				<ExperienceItem
					title={exp.title}
					link={exp.link}
					institution={exp.institution}
					group={exp.group}
					location={exp.location}
					startDate={exp.startDate}
					endDate={exp.endDate}
					description={exp.description}
				/>
			</li>
		))
	}
</ul>
